extends ../shared/template

block content
  h1 Artists


  .artists-container
    .artist
      each artist in artists
        .name= artist.artistName
        .image
          img(src='/img/#{artist.artistName}/#{artist.artistPhoto}')
