extends ../shared/template

block content
  h1 Artists

  .artists-container
    each artist in artists
      .artist
        .artist-name
          a(href='/artists/#{artist._id}')= artist.artistName
        .artist-image
          img(src='/img/#{artist.artistName}/#{artist.artistPhoto}')
