extends ../shared/template

block content
  h1 Node Tunes

  .forms
    #confirm-alert Successfully Added!
    .artists-form
      h3 Add Artist
      form(method='POST', action='/artists', enctype='multipart/form-data')
        input.name(type='text', name='artistName', placeholder='Artist Name')
        input.file(type='file', name='artistPhoto')
        button.button.button-border Add Artist

    .albums-form
      h3 Add Album
      form(method='POST', action='/albums', enctype='multipart/form-data')
        input.name(type='text', name='albumName', placeholder='Album Name')
        select.artist-select(name='artistName')
          each artist in artists
            option= artist.artistName
        input.file(type='file', name='albumPhoto')
        button.button.button-border Add Album

    .songs-form
      h3 Add Song
      form(method='POST', action='/songs', enctype='multipart/form-data')
        input.name(type='text', name='songName', placeholder='Song Name')
        select.artist-select(name='artistName')
          each artist in artists
            option= artist.artistName
        select.album-select(name='albumName')
          each album in albums
            option= album.albumName
        input.genre(type='text', name='genres', placeholder='Genre1, Genre2...')
        input.file(type='file', name='songFile')
        button.button.button-border Add Song
