extends ../shared/template

block content
  h1 Albums

  .albums-container
    each album in albums
      .album
        .album-name
          a(href='/albums/#{album._id}')= album.albumName
        .album-image
          img(src='/img/#{album.artistName}/#{album.albumName}/#{album.albumPhoto}')
